@model web3.Domain.Entities.Web_User

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>编辑用户信息</h2>
<div class="col-xs-10 col-xs-offset-1">
	@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<dl class="dl-horizontal">
			<dt>
				@Html.LabelFor(m => m.u_name)
			</dt>
			<dd>
				@Html.EditorFor(m => m.u_name)
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_sex)
			</dt>
			<dd>
				@Html.RadioButtonFor(m => m.u_sex, "男")男
				@Html.RadioButtonFor(m => m.u_sex, "女")女
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_email)
			</dt>
			<dd>
				@Html.TextBoxFor(m => m.u_email)
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_tel)
			</dt>
			<dd>
				@Html.TextBoxFor(m => m.u_tel)
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_hoby)
			</dt>
			<dd>
				@if (Model.u_hoby.Contains("sport"))
				{
					@Html.CheckBox("hobby", new { @value = "sport", @checked = "checked" }); 
					@Html.Label("体育");
				}
				else
				{
					@Html.CheckBox("hobby", new { value = "sport" });
					@Html.Label("体育");
				}

				@if (Model.u_hoby.Contains("music"))
				{
					@Html.CheckBox("hobby", new { @value = "music", @checked = "checked" });
					@Html.Label("音乐");
				}
				else
				{
					@Html.CheckBox("hobby", new { value = "music" });
					@Html.Label("音乐");
				}

				@if (Model.u_hoby.Contains("book"))
				{
					@Html.CheckBox("hobby", new { @value = "book", @checked = "checked" });
					@Html.Label("读书");
				}
				else
				{
					@Html.CheckBox("hobby", new { value = "book" });
					@Html.Label("读书");
				}
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_intro)
			</dt>
			<dd>
				@Html.HiddenFor(m => m.u_intro)
				<div id="container" name="content" type="text/plain" height="180px" width="300px"></div>
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_birth)
			</dt>
			<dd>
				<input type="text" name="birthday" id="datetimepicker3" class="form-control" value="@Model.u_birth.Date" />
			</dd><br>
			<dt>
				地址:
			</dt>
			<dd>
				<div id="citySelect">
					<select name="prov" class="prov"></select>
					<select name="city" class="city" disabled="disabled"></select>
					<select name="dist" class="dist" disabled="disabled"></select>
				</div>
			</dd><br>
			<dt>
				@Html.LabelFor(m => m.u_image)
			</dt>
			<dd>
				<input type="file" name="image" />
			</dd><br>
			<dt><br /></dt>
			<dd>
				<input type="submit" value="提交" />
				<input type="reset" value="重置" />
			</dd><br>
	</dl>
	}

</div>
@section Header
		{
	@* UEditor *@
	<script src="~/Content/umeditor1_2_2-utf8-net/umeditor.config.js"></script>
	<script src="~/Content/umeditor1_2_2-utf8-net/umeditor.js"></script>
	<script src="~/Content/umeditor1_2_2-utf8-net/umeditor.min.js"></script>
	<link href="~/Content/umeditor1_2_2-utf8-net/themes/default/css/umeditor.css" rel="stylesheet" />

	@* 日期选择插件 *@
	<script src="~/datepicker/selectUi.js"></script>
	<script src="~/datepicker/lq.datetimepick.js"></script>
	<link href="~/datepicker/lq.datetimepick.css" rel="stylesheet" />

	@* 省市联动插件 *@
	@*<script src="~/citySelect/city.min.js"></script>*@
	<script src="~/citySelect/jquery.cityselect.js"></script>
}

<script>
	console.log("@Model.u_hoby");
	//密码区设为空
	$("input[name=u_password]").val("");
	$("#container").html($("input[name=u_intro]").val());
	//富文本编辑器
	var editor = UM.getEditor('container', {});
	//editor.setHeight(300);
	//日期选择空间
	$("#datetimepicker3").on("click", function (e) {
		e.stopPropagation();
		$(this).lqdatetimepicker({
			css: 'datetime-day',
			dateType: 'D',
			selectback: function () {

			}
		});
	});
	//jquery表单验证
	$("form").validate({
		rules: {
			"u_name": { required: true, minlength: 2 },
			"u_email": { required: true, email: true },
			"u_password": { required: true, minlength: 6 },
			"u_tel": { number: true },
		}
	});
	//省市联动
	$("#citySelect").citySelect({
		prov: "@Model.u_addr_sheng", //城市
		city: "@Model.u_addr_shi", //区县
		dist: "@Model.u_addr_xian",//当子集无数据时，隐藏select
		url: "../../citySelect/city.min.js",
	});
</script>
