@model web3.Domain.Entities.Web_User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>编辑用户信息</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <div class="username">
        @Html.LabelFor(m => m.u_name)
        @Html.TextBoxFor(m => m.u_name)
    </div>
    <div class="password">
        @Html.LabelFor(m => m.u_password)
        @Html.PasswordFor(m => m.u_password)
    </div>
    <div class="sex">
        @Html.LabelFor(m => m.u_password)
        @Html.RadioButtonFor(m => m.u_sex, "man")男
        @Html.RadioButtonFor(m => m.u_sex, "women")女
    </div>
    <div class="email">
        @Html.LabelFor(m => m.u_email)
        @Html.TextBoxFor(m => m.u_email)
    </div>
    <div class="tel">
        @Html.LabelFor(m => m.u_tel)
        @Html.TextBoxFor(m => m.u_tel)
    </div>
    <div class="birth">
        @Html.LabelFor(m => m.u_birth)
    </div>
    <div class="hobby">
        @Html.LabelFor(m => m.u_hoby)
        @Html.CheckBox("hobby", false, new { value = "sport" })体育
        @Html.CheckBox("hobby", false, new { value = "music" })音乐
        @Html.CheckBox("hobby", false, new { value = "book" })读书
    </div>
    <div class="introduce">
        @section Header{
            <script src="~/Content/umeditor1_2_2-utf8-net/umeditor.config.js"></script>
            <script src="~/Content/umeditor1_2_2-utf8-net/umeditor.js"></script>
            <script src="~/Content/umeditor1_2_2-utf8-net/umeditor.min.js"></script>
            <link href="~/Content/umeditor1_2_2-utf8-net/themes/default/css/umeditor.css" rel="stylesheet" />\
        }
        @Html.LabelFor(m => m.u_intro)
        <script id="container" name="content" type="text/plain" width="800px"></script>
        <script>
            var editor = UM.getEditor('container', {});
            editor.setHeight(300);
        </script>
    </div>
    <div class="image">
        @Html.LabelFor(m => m.u_image)
    </div>
    <div class="option">
        <input type="submit" value="提交" />
        <input type="reset" value="重置" />
    </div>
}