@model web3.Domain.Entities.Web_User
@{
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
	ViewBag.Title = "修改密码";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password</title>
</head>
<body>
	<div>
		@using (Html.BeginForm("changePassword", "User", FormMethod.Post)) {
					@Html.HiddenFor(m => m.u_name);
		<dl class="dl-horizontal">
			<dt>@Html.LabelFor(m => m.u_name)</dt>
			<dd>@Html.DisplayFor(m => m.u_name)</dd>
			<br />
			<dt>旧密码:</dt>
			<dd>
				<input type="password" name="oldpassword" />
				<div id="userExists" style="color:orangered" hidden="hidden">密码不正确</div>
			</dd>

			<dt>新密码:</dt>
			<dd>@Html.PasswordFor(m => m.u_password)</dd>
			<br />
			<dt>确认密码:</dt>
			<dd><input type="password" name="checkpassword" value="" /></dd>
			<br />
			<dt>@Html.LabelFor(m => m.u_email)</dt>
			<dd>@Html.TextBoxFor(m => m.u_email)</dd>
			<br />
			<br />
			<dd>
				<input type="submit" id="Submit" class="btn btn-primary" value="修改" />
				<input type="reset" class="btn btn-default" value="重置" />
			</dd>
		</dl>
		}
	</div>
</body>
</html>

<script>
	$("form").validate({
		rules: {
			u_password: { required: true, minlength: 6 },
			checkpassword: { equalTo: u_password }
		},
		messages: {
			checkpassword: { equalTo: "请输入相同的密码!" }
		}
	});

	$("input[name=oldpassword]").focus(function () {
		$("#userExists").hide();
	});

	$("input[name=oldpassword]").blur(function () {
		$.ajax({
			url: "/User/checkPassword",
			type: "Post",
			data: { username: $("input[name=u_name]").val(), password: $("input[name=oldpassword]").val() },
			beforeSend:function(){
				//console.log($("input[name=oldpassword]").val());
			},
			success: function (data) {
				if (data == 'false') {
					$("#userExists").show();
					$("#Submit").attr("disabled", "true");
				}
				else {
					$("#Submit").removeAttr("disabled");
				}
			},
			error: function (msg) {
				console.error(msg);
			}
		});
	});
</script>
